* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace !important;
}

p {
  font-size: 14px;
color:#fff;
}

h3,h2,h1{
  color:#3c3c3;
}

table {
  font-size: 12px !important;
}

#logo {
  width: 200px;
}

.float__button {
  position: absolute;
  bottom: 55px;
  right: 5px;
}

.action__icon {
  width: 40px;
}
